*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
}
span{
    color: #FD6E0A;
}

/* Header */
header{
    background: url("../images/header_bg.png"), url("../images/developer.png");
    background-color: #eee2da;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom right, top left;
    margin-bottom: 130px;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px 47px 226px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
}
/* Banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0px 230px;
}
.header-title-small{
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.header-title{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-desc{
    max-width: 585px;
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn{
    margin-right: 30px;
}
.banner-image{
    width: 564px;
    height: 640px;
}

/* Mian part */
.about-me-container{
    width: 1140px;
    height: 550px;
    background: #eee2da;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 130px;
}
.about-me-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about-me-desc{
    max-width: 815px;
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px auto;
}
.name-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.name-name{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.about-me-info{
    max-width: 815px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}